# Папки сборки
build/
cmake-build-*/

# Объектные и бинарные файлы
*.o
*.a
*.so
*.dylib
*.dll
*.exe

# Лог-файлы
*.log

# Временные файлы редакторов
*~
*.swp
.DS_Store

# IDE
.vscode/
.idea/